################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TCC-AlfaPeople-Equipe1/FileContentIndex/15019f09-bc6a-4483-af38-aa511d83285a.vsidx
/.vs/TCC-AlfaPeople-Equipe1/FileContentIndex/3c3a9181-3a1b-4462-872e-63a345ebb1b2.vsidx
/.vs/TCC-AlfaPeople-Equipe1/FileContentIndex/c4d852f3-17ff-4ad3-951c-b3105c599ded.vsidx
/.vs/TCC-AlfaPeople-Equipe1/FileContentIndex/ec5f7687-b946-4eb5-bd7d-824d78ab7fe0.vsidx
/.vs/TCC-AlfaPeople-Equipe1/v17/.wsuo
/.vs
/Logistics.Dynamics365/WebResource/Logistics.Dynamics365.Conta.CPF.js
/Logistics.Dynamics365/WebResource/Logistics.Dynamics365.Conta.Name.js
